*.log
*.zip
*.rar
*.swf
*.gz
*.enc
*.csv
*.sql
*.mov
google*.html
yandex*.html
.DS_Store
Thumbs.db

.git/
.idea/
.cache/
.vscode/
cache/
cgi-bin/
doc/
docs/
logs/
photos/
plugins/
public/
tmp/
node_modules/
data/weather.json
errors.php
errors.log